body {
  margin: 0;
}
header {
  box-sizing: border-box;
  height: 95px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerlink {
  width: 99px;
  height: 37px;
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  transition: color, background 0.3s linear;
}
.headerlink:hover {
  background-color: #1bbc9b;
  color: white;
}
.header-left {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 14px;
}
.bac {
  color: #444444;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.logotext {
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
#main {
  height: 453px;
  background: url("./img/jumbotron.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 55px;
  font-weight: 300;
  /* Text style for "W, e Build" */
  font-family: "Lato Light";
  font-weight: 300;
  margin: 0 0 41px 0;
}
.brad {
  font-weight: 700;
}
.dab {
  width: 574px;
  height: 41px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 46px 0;
  text-align: center;
}
.morebtn {
  width: 122px;
  height: 37px;
  background-color: #1bbc9b;
  color: white;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "L, EARN MO" */
  letter-spacing: 1.3px;
  border: none;
  margin-bottom: 42px;
}
.circle {
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 50%;
  display: flex;
}
.arrow {
  width: 45px;
  height: 45px;
  margin: auto;
}
#main2 {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #444444;
  font-family: Lato;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 17px 0;
}
.text {
  width: 391px;
  height: 15px;
  color: #444444;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
}
.cont {
  display: flex;
  margin-bottom: 45px;
}
.morebtn2 {
  padding: 13px;
  background-color: #1bbc9b;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
}
.imeges {
  width: 800px;
  height: 394px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.circles {
  margin-bottom: 34px;
}
#main3 {
  height: 646px;
  background-color: #16a086;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white {
  color: white;
}
.card {
  width: 220px;
  height: 418px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.name {
  color: #444444;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 7px;
  text-align: center;
}
.prof {
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 21px;
  text-align: center;
}
.desc {
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0 10px 20px 10px;
}
#main4 {
  background-color: #ecf0f1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formcont {
  width: 940px;
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  width: 460px;
}
.input {
  width: 214px;
  height: 47px;
  border: 2px solid #bec3c7;
  background-color: #ffffff;
  margin: 0 28px 22px 0;
  box-sizing: border-box;
  padding: 0 14px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}
.input::placeholder,
#message::placeholder {
  color: #999999;
}
.last {
  margin-right: 0;
}
#message {
  height: 153px;
  width: 100%;
  border: 2px solid #bec3c7;
  background-color: #ffffff;
  margin-bottom: 23px;
  box-sizing: border-box;
  padding: 20px 15px;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}
.submit {
  width: 114px;
  height: 37px;
  background-color: #1bbc9b;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  float: right;
}
.right {
  display: flex;
  flex-direction: column;
}
.info {
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 24px;
}
.contact {
  width: 192px;
  color: #444444;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
  margin: 0 0 14px;
}
footer {
  height: 93px;
  background-color: #2d3e50;
  display: flex;
  justify-content: space-between;
  padding: 0 46px;
  align-items: center;
}
.copyright {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
.foot-b {
  width: 44px;
  height: 44px;
  background-color: #1bbc9b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transform {
  transform: rotate(180deg);
}
